spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/projedata}
    username: ${DB_USERNAME:projedata}
    password: ${DB_PASSWORD:projedata}
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true

server:
  port: ${SERVER_PORT:8080}

app:
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:5173}
